{% extends 'base.html' %} {% block content %}
    <h1>Home</h1>
<div id="welcome">
    <p>Welcome to this foundation maths quiz</p>
    <p>You have a chance to test yourself on the foundation topics you have learnt</p>
    <p>Please log in using your first name below - you don't need a password.</p>
    <p>The quiz will cover some of the topics on the maths tube map below</p>
    <img src='static/img/mathstubemap.jpg' alt="Maths tube map" width="500" height="333">
</div>

<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <button>Go to quiz</button>
</form>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}