{% extends 'base.html' %} {% block content %}
    <h1>Home</h1>
<div class="welcome">
    <p>Welcome to this foundation maths quiz</p>
    <p>You have a chance to test yourself on the foundation topics you have learnt</p>
    <p>using the quiz on the next page.</p>
    <p>On each page you will find reminders of the topics you have learnt</p>
    <p>You may find some of these useful when doing the quiz, so please</p>
    <p>move between pages at the start and end of the quiz to refresh your memory.</p
    <img src='static/img/mathstubemap.jpg' alt="Maths tube map" width="500" height="333">
</div>

{% endblock %}