{% extends 'base.html' %} {% block content %}
    <h1>{{page_title}}</h1>


<div class= "quizheading"> Quiz Questions</div>
<div>{{data}}</div>

<form method="POST">
    <label for="userAnswer"> Your Answer:</label>
    <input type="text" id="userAnswer" name="userAnswer">
    <button>submit answer</button>
</form>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} 

{% endblock %}